@import "tailwindcss";
@import "tw-animate-css";

@import "primeicons/primeicons.css";

@theme {
  --font-roboto: "Roboto Flex", "sans-serif";

  --color-primary: #00509d;
}

@layer {
  html {
    @apply scroll-smooth;
  }
  body {
    * {
      @apply font-roboto;
    }

    .lottie-animation-container {
      @apply relative;
      &::after {
        @apply content-[""] block w-full absolute left-0 bottom-0 h-8 bg-white;
      }
    }

    nav .router-link-active {
      @apply text-primary font-bold;
    }
  }
}
